*.iml
.gradle
local.properties
/local.properties
/.idea
.DS_Store
/build
/app/build
captures
.externalNativeBuild
.cxx
*.apk
*.aab
.build-outputs
.kotlin
.dev.env.json
.env*
*.keystore
*.keystore.base64
*.jks
*.p12
.pem
.key
local.properties
.env
.env.*
google-services.json
service-account.json
